body{
    width: 1400px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
header{
    background-color: rgb(30, 30, 254);
    color: rgb(216, 219, 252);
    padding: 0 5px 0 5px ;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h1, p{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 50px;
}
nav>a{
    display: inline-block;
    padding: 10px 5px 5px 5px;
    width: 100px;
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: mediumseagreen;
    transition: width 0.3s ease;
}
a:hover::after {
    width: 100%;
}
#sesion{
    margin-left: 745px;
}
#logoSimple {
  width: 300px;
  height: auto;
}
#contenedor1, #contenedor2{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
#contenedor1{
    background-color: blueviolet;
    width: 300px;
    height: 700px;
}
#contenedor2{
    background-color: rgb(77, 69, 244);
    width: 1050px;
    height: 700px;

}

form{
    background-color: rgba(171, 168, 71, 0.282);
    width: 300px;
    height: 400px;
    margin: 40px 375px 0 375px;
    padding: 10px;
    border-radius: 8px;
}